<div *ngIf="hotels; else loader"
     class="element"
>
  <div class="element-left">
    <app-weather-widget-image [img]="selectedHotel?.img"></app-weather-widget-image>
      
    <app-weather-widget-switcher [values]="hotels | hotelsTypes"
                                 [current-value]="selectedType"
                                 (onSwitch)="switchType($event)"
    >
    </app-weather-widget-switcher>
    
    <app-weather-widget-hotels [hotels]="hotels | filter : 'type' : selectedType"
                               (onSelect)="selectHotel($event)"
    >
    </app-weather-widget-hotels>
  </div>
  
  <div class="element-right">
    <app-weather-widget-weather [weather]="selectedHotel?.weather"></app-weather-widget-weather>
    <app-weather-widget-social [social-info]="selectedHotel?.social_info"></app-weather-widget-social>
  </div>
  
  <div class="clear"> </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
